@import '../../../theme/tools';

:host {
  display: block;
  position: fixed;
  top: $spacer;
  right: $spacer;

  .dropdown {
    .btn {
      border: none;

      &.dropdown-toggle::after {
        display: none;
      }

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
