@import '../../../theme/animation';
@import '../../../theme/tools';

:host {
  display: block;
  height: 100vh;
  overflow-y: auto;

  .router {
    &:not(.display) {
      display: none;
    }
  }

  .display {
    @include animation-fade-in();
  }

  .hide {
    @include animation-fade-out();
  }
}
