:host {
  .table-container {
    overflow-x: auto;
  }

  .label {
    display: inline-block;

    &.label-id {
      min-width: 90px;
    }

    &.label-int {
      min-width: 37px;
    }

    &.label-float {
      min-width: 67px;
    }

    &.label-color {
      min-width: 150px;
    }

    &.badge {
      margin: 2px 0;
      color: var(--bs-dark);
      font-weight: 500;
    }
  }
}
