<div class="background"></div>
<div class="container py-4 d-flex justify-content-center align-items-center">
  <div class="card shadow shadow-lg">
    <div class="card-body">
      <sh-logo></sh-logo>
      <h3 class="title text-center mt-4 mb-5">A leading Liquidity & Technology Provider</h3>
      <div class="loader">
        <div class="box-wrap">
          <div class="box one"></div>
          <div class="box two"></div>
          <div class="box three"></div>
          <div class="box four"></div>
          <div class="box five"></div>
          <div class="box six"></div>
        </div>
      </div>
    </div>
  </div>
</div>
