$border-color: #604391;
$danger: #bf485d;
$dropdown-bg: #241749;
$dropdown-link-hover-bg: #4b3783;
$dropdown-link-active-bg: lighten($dropdown-link-hover-bg, 10%);
$font-family: 'Nunito Sans', sans-serif;
$success: #1ba464;
$table-bg: transparent;
